{% macro title(page) %}
    <header class="post__header">
        <h2>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h2>
        <div class="post__meta">
            <span class="post__time">{{ page.date | date(format="%e %B %Y") }}</span>
        </div>

    </header>
{% endmacro title %}

{% macro indextitle(page) %}
    <header class="post__header">
        <h6 class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
		</h6>
        <div class="post__date">
            <span class="post__time">{{ page.date | date(format="%e %B %Y") }}</span>
        </div>

    </header>
{% endmacro title %}